.mainNav {
  background-color: #547db3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

.NavLink {
  text-decoration: none;
  color: #edf7c4;
}

.NavLink:hover,
.NavLink:active,
.NavLink.active {
  color: #aab18e;
}
